{% extends "a_base.html" %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Newsletter Subscribe</h4></div>
      <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-large"></span></th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in newsletters %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.email}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}