{% extends "a_base.html" %}

{% block content %}
<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4>Newsletter Subscribe</h4>
        <div class="btn-group pull-right">
            <form action="{{ baseUrl() }}/admin/set/purchasecode" method="post">
                <input type="text" name="template" class="form-control" required>
                <button class="btn btn-default btn-sm" type="submit">Genarate New</button>
            </form>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-large"></span></th>
                <th>Code</th>
                <th>Template</th>
            </tr>
        </thead>
        <tbody>
            {% for row in purchasecodes %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.purchase_code}}</td>
                    <td>{{row.template}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}