{% extends "base.html" %}



{% block content %}

<div class="inner_header h_bg2">

      <div class="container">

    <h1> <i class="fa fa-shopping-cart"></i> Order </h1>

  </div>

    </div>

<div class="clr"></div>

<section class="white_bg in_top_space">

<div class="container">

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    </div>

</section>

<div class="clr"></div>



<section >





<div class="container top_sapace6">





<form id="order" enctype="multipart/form-data">

<div class="frm_title">

<span>1</span> Choose Your Package

</div>



<div class="frm_box frm_height">

<div class="choose_box choose_box1" id="01" >

<input type="radio" name="package" id="radio1" value="1"/>        

        <label for="radio1">

            <span class="fa-stack">

                <i class="fa fa-circle fa-stack-1x fa-3x c1"></i>

                <i class="fa fa-circle fa-stack-1x fa-3x c2"></i>

            </span>

           <b>Fresh Design & Coding</b>

        </label>

</div>

</div>





<div class="frm_box box_space frm_height">

<div class="choose_box choose_box1" id="02">

 <input type="radio" name="package" id="radio2" value="2"/>     

        <label for="radio2">

            <span class="fa-stack">

                <i class="fa fa-circle fa-stack-1x fa-3x c1"></i>

                <i class="fa fa-circle fa-stack-1x fa-3x c2"></i>

            </span>

           <b>Your Design We Code</b>

        </label>

</div>

</div>





<div class="frm_box frm_height">

<div class="choose_box choose_box1" id="03">

 <input type="radio" name="package" id="radio3" value="3"/>     

        <label for="radio3">

            <span class="fa-stack">

                <i class="fa fa-circle fa-stack-1x fa-3x c1"></i>

                <i class="fa fa-circle fa-stack-1x fa-3x c2"></i>

            </span>

           <b>Exisiting Email Editing</b>

        </label>

</div>

</div>

<div id="package_contatiner"></div>

<div class="frm_title">

<span>6</span> Email software integration if any :

</div>



<div class="frm_box">

<div class="choose_box choose_box2" id="04" >

<input type="radio" name="has_integration" id="radio4" value="0"/>        

        <label for="radio4">

            <span class="fa-stack">

                <i class="fa fa-circle fa-stack-1x fa-3x c1"></i>

                <i class="fa fa-circle fa-stack-1x fa-3x c2"></i>

            </span>

           <b>No Integration</b>

        </label>

</div>









</div>



<div class="frm_box box_space">



<select class="change" name="intigration" id="someName4">

    <option value="Mailchimp">Mailchimp</option>

    <option value="Exact Target">Exact Target</option>

    <option value="Dotmailer">Dotmailer</option>

</select>

</div>





<div class="frm_box">

<input type="text" name="intigration_other" placeholder="Custom Software" />

</div>



<div class="clr"></div>







<div class="clr"></div>

<div class="frm_box3">

<textarea name="job_details" placeholder="Job Details"></textarea>

</div>



<div class="frm_box ">

<label class="custom-upload  gray_btn"><input type="file" name="upload_files" id="sortpicture" multiple/>Upload project related files</label>

<div class="file_type">Layered PSD / AI / EPS / PDF / or zip files.</div>



<div class="file_type2">

<input type="checkbox" name="has_file" id="check3" value="0"/>

        <label for="check3">

            <span class="fa-stack">

                <i class="fa fa-square-o fa-stack-1x fa-lg"></i>

                <i class="fa fa-check-square fa-stack-1x  fa-lg"></i>

            </span>

         I don't want to submit any file for this job.

        </label>



</div>







</div>





<div class="frm_box3">

<input type="text" name="download_link" placeholder="Give URL of project file that we can download" />

</div>



<div class="frm_box">
<input type="hidden" name="source"/>
<button type="submit" class="orange_btn1">Add To Cart</button>
<div class="add-cart-error"></div>
</div>

</form>

<div class="clr"></div>



</div>



<div class="clr"></div>

</section>



<div class="clr"></div>



<div id="cart_container"></div>



<script>
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

$(window).on('hashchange', function() {

  var values = window.location.hash;

  console.log(values);

});

$( document ).ready(function() {
    var hash = window.location.hash.substr(1);
    if(hash != ''){
        var package = hash.split('=')[1];
        $(".choose_box1  input[value='"+package+"']").trigger( "click" );
    } else if(getUrlParameter('package') != '' && getUrlParameter('package') !== undefined){
        $(".choose_box1  input[value='"+getUrlParameter('package')+"']").trigger( "click" );
        $("input[name='source']").val(getUrlParameter('source'));
    } else{
        $(".choose_box1  input[value='1']").trigger( "click" );
    }
});

$(".choose_box1 input[name='package']").click(function(event) {

    console.log($(this).val());

    // If the button is selected.

    if ($(this).hasClass("checked")) {

        // Remove the placeholder.

        $(this).removeClass("checked");

        // And remove the selection.

        $(this).removeAttr("checked");

    // If the button is not selected.

    } else {

        // Remove the placeholder from the other buttons.

        $(".choose_box1  input[type='radio']").each(function () {

            $(this).removeClass("checked");

        });

        // And add the placeholder to the button.

        $(this).addClass("checked");

    }

    $.ajax({

        dataType : "html",

        url : "{{ baseUrl() }}/package/"+ $(this).val(),

    }).done(function(html) {

        $("#package_contatiner").html("");

        $("#package_contatiner").append(html);

    });

});



$(".choose_box2 input[type='radio']").click(function(event) {

    console.log($(this).val());

    // If the button is selected.

    if ($(this).hasClass("checked")) {

        // Remove the placeholder.

        $(this).removeClass("checked");

        // And remove the selection.

        $(this).removeAttr("checked");

    // If the button is not selected.

    } else {

        // Remove the placeholder from the other buttons.

        $(".choose_box2  input[type='radio']").each(function () {

            $(this).removeClass("checked");

        });

        // And add the placeholder to the button.

        $(this).addClass("checked");

    }



    if($(this).hasClass("checked")){

        $('select[name="intigration"], input[name="intigration_other"]').hide();

    } else{

        $('select[name="intigration"], input[name="intigration_other"]').show();   

    }

});



// $( "form#order" ).on( "submit", function( event ) {

//   event.preventDefault();

//   // var file_data = $('#sortpicture').prop('files')[0];   

//   // var form_data = new FormData();                  

//   // form_data.append('file', file_data);

//   // console.log(form_data);

//   console.log($( this ).serialize());

//   $.ajax({

//         dataType : "html",

//         method : "POST",

//         url : "{{ baseUrl() }}/cart",

//         data : $( this ).serialize()

//     }).done(function(html) {

//         $("#cart_container").html("");

//         $("#cart_container").append(html);

//     });

// });

    var files;

    // Add events
    $('input[type=file]').on('change', prepareUpload);
    $('form#order').on( "submit", function( event ) {
        event.preventDefault();
        if($('input[name="has_file"]').is(':checked')){
            $.ajax({
                dataType : "html",
                method : "POST",
                url : "{{ baseUrl() }}/cart",
                data : $( this ).serialize()
            }).done(function(html) {
                $("#cart_container").html("");
                $("#cart_container").append(html);

                $('form#order').find("input[type=text], input[type=email], input[type=file],textarea").val("");
                $('form#order').find("input[type=checkbox]").prop('checked', false);
                $('form#order').find("select").prop('selectedIndex',0);
                $('.add-cart-error').html('');
            });
        } else if($('input[type="file"]').val() != ''){
            uploadFiles(event);
        } else{
            $('.add-cart-error').html('<div class="alert alert-error" role="alert">Please upload a file or select I don\'t want to submit any file for this job.</div>')
        }
    });

    // Grab the files and set them to our variable
    function prepareUpload(event)
    {
        files = event.target.files;
    }

    // Catch the form submit and upload the files
    function uploadFiles(event)
    {
        event.stopPropagation(); // Stop stuff happening
        event.preventDefault(); // Totally stop stuff happening

        // START A LOADING SPINNER HERE

        // Create a formdata object and add the files
        var data = new FormData();
        $.each(files, function(key, value)
        {
            data.append(key, value);
        });
        
        $.ajax({
            url: "{{ baseUrl() }}/image/upload",
            type: 'POST',
            data: data,
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
                if(typeof data.error === 'undefined')
                {
                    // Success so call function to process the form
                    submitForm(event, data);
                }
                else
                {
                    // Handle errors here
                    console.log('ERRORS: ' + data.error);
                }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                // Handle errors here
                console.log('ERRORS: ' + textStatus);
                // STOP LOADING SPINNER
            }
        });
    }

    function submitForm(event, data)
    {
        // Create a jQuery object from the form
        $form = $(event.target);
        
        // Serialize the form data
        var formData = $form.serialize();
        
        // You should sterilise the file names
        $.each(data.files, function(key, value)
        {
            formData = formData + '&filenames[]=' + value;
        });

        $.ajax({
            dataType : "html",
            method : "POST",
            url : "{{ baseUrl() }}/cart",
            data : formData
        }).done(function(html) {
            $("#cart_container").html("");
            $("#cart_container").append(html);

            $('form#order').find("input[type=text], input[type=email], input[type=file],textarea").val("");
            $('form#order').find("input[type=checkbox]").prop('checked', false);
            $('form#order').find("select").prop('selectedIndex',0);
            $('.add-cart-error').html('');
        });
    }

$(document).on( "click", ".delete", function( event ) {
  event.preventDefault();
  $.ajax({
        dataType : "html",
        method : "POST",
        url : "{{ baseUrl() }}/cart/delete/"+ $(this).data('id')
    }).done(function(html) {
        $("#cart_container").html("");
        $("#cart_container").append(html);
    });

});

$(document).on( "click", ".reset", function( event ) {
    $('form#order').find("input[type=text], input[type=email], input[type=file],textarea").val("");
    $('form#order').find("input[type=checkbox]").prop('checked', false);
    $('form#order').find("select").prop('selectedIndex',0);
    $('.add-cart-error').html('');
    $(".choose_box1 input[value='1']").trigger( "click" );
    $('html, body').animate({
        scrollTop: $("form#order").offset().top
    }, 2000);
});

$(document).on( "submit", "form#oreder-placed", function( event ) {
     // event.preventDefault();
    if($('input[name="terms"]').is(':checked')){
        if($('input[name="newsletter"]').is(':checked')){
            $.ajax({
                dataType : "html",
                method : "POST",
                url : "{{ baseUrl() }}/newsletter",
                data : {'email': $('input[name="newsletter_email"]').val()}
            }).done(function(html) {
               console.log(html);
            });
        }   
        return true;

    } else{
        event.preventDefault();
        $('.place-order-error').html('<div class="alert alert-error" role="alert">Please accept the Terms and Conditions.</div>')
    }
});



// $( "form#oreder-placed" ).on( "submit", function( event ) {

//   event.preventDefault();

//   console.log($( this ).serialize());

// });





</script>



{% endblock %}