<div class="frm_title">
<span>2</span> Provide your details
</div>



<div class="frm_box">
<input type="text" name="name" placeholder="Name *" required />
</div>



<div class="frm_box box_space">
<input type="email" name="email" placeholder="Email *" required />
</div>



<div class="frm_box">
<input type="text" name="phone" placeholder="Phone" />
</div>




<div class="frm_box">
<input type="text" name="business_name" placeholder="Business Name" />
</div>



<div class="frm_box box_space">
<input type="text" name="website_address" placeholder="Website Address" />
</div>



<div class="frm_box">
<input type="text" name="business_domain" placeholder="Business Domain / Industry" />
</div>



<div class="frm_box ">
<textarea name="preferable_color" placeholder="Do you have any preferable color?"></textarea>
</div>



<div class="frm_box box_space">
<textarea name="extra" placeholder="Any information that you feel important for your email?"></textarea>
</div>



<div class="frm_box ">
<textarea name="objective" placeholder="Objective of this email"></textarea>
</div>


<div class="clr"></div>



<div class="frm_box">
<div class="frm_title">
<span>3</span> No. Of Emails 
</div>
<select class='change' name='no_of_email' id="someName1">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
</div>



<div class="frm_box box_space">
<div class="frm_title">
<span>4</span> Choose Delivery Time 
</div>
<select class='change' name='delivery_time' id="delivery_time">
    <option value="72" data-price="0" data-title="Delivery Time">72 hrs - Free</option>
</select>
</div>



<div class="frm_box">
<div class="frm_title">
<span>5</span> Layout type
</div>
    <select class='change' name='layout_type' id="someName3">
		<option value="Scalable" data-price="0" data-title="Layout type"><i class="fa fa-arrows-alt fa-lg"></i> Scalable - Free</option>
        <option value="Responsive"data-price="0" data-title="Layout type"><i class="fa fa-mobile fa-lg"></i> Responsive - Free</option>
        <option value="Fixed" data-price="0" data-title="Layout type"><i class="fa fa-desktop fa-lg"></i> Fixed - Fres</option>
	</select>
</div>



