<div class="frm_title">
<span>2</span> Provide your details
</div>



<div class="frm_box">
<input type="text" name="name" placeholder="Name *" required />
</div>



<div class="frm_box box_space">
<input type="email" name="email" placeholder="Email *" required />
</div>



<div class="frm_box">
<input type="text" name="phone" placeholder="Phone" />
</div>



<div class="clr"></div>



<div class="frm_box">
<div class="frm_title">
<span>3</span> No. Of Emails 
</div>
<select class='change' name='no_of_email' id="someName1">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>
</div>



<div class="frm_box box_space">
<div class="frm_title">
<span>4</span> Choose Delivery Time 
</div>
<select class='change' name='delivery_time' id="delivery_time">
    <option value="24" data-price="35" data-title="Delivery Time">24 hrs - Free</option>
    <option value="12" data-price="45" data-title="Delivery Time">12 hrs - $10</option>
    <option value="8" data-price="55" data-title="Delivery Time">8 hrs - $20</option>
</select>
</div>



<div class="frm_box">
<div class="frm_title">
<span>5</span> Layout type
</div>
    <select class='change' name='layout_type' id="someName3">
        <option value="Fixed" data-price="0" data-title="Layout type"><i class="fa fa-desktop fa-lg"></i> Fixed - Free</option>
        <option value="Responsive"data-price="15" data-title="Layout type"><i class="fa fa-mobile fa-lg"></i> Responsive - $15</option>
		<option value="Scalable" data-price="15" data-title="Layout type"><i class="fa fa-arrows-alt fa-lg"></i> Scalable - $15</option>
	</select>
</div>


