{% extends "base.html" %}

{% block content %}
<style>
	span.hover {
		text-decoration: underline;
	}
	.text-muted span{
		font-size:10px;
	}
	#farsi{
		direction: rtl;
	}
</style>
<script type='text/javascript'>
	$(function() {
		$('span').hover(function() {
			var classname = $(this).attr('class');
			$('.' + classname).addClass("hover");
		}, function() {
			$('.hover').removeClass("hover");
		});
	}); 
</script>
<div class="row">
	<div class="col-xs-12 ">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{post.english_title}}</h3>
				</div>
				<div class="panel-body">
					{% for line in lines %}
					<span class="line_{{loop.index}}">{{line.english}}</span>
					{% endfor %}

					<p class="text-muted">
						{% for note in notes %}
						<span class="note_{{note.map}}">{{note.english_note}}</span>
						{% endfor %}
					</p>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-xs-12">
							<h6>{{ include(template_from_string(lang.writtenby)) }} <strong>{{post.author}}</strong> {{ include(template_from_string(lang.on)) }} {{post.date}}.</h6>
						</div>
						
					</div>
				</div>

			</div>
		</div>
		<div class="col-xs-6">
			<div class="panel panel-default" id="farsi">
				<div class="panel-heading">
					<h3 class="panel-title">{{post.farsi_title}}</h3>
				</div>
				<div class="panel-body">
					{% for line in lines %}
					<span class="line_{{line.map}}">{{line.farsi}}</span>
					{% endfor %}

					<p class="text-muted">
						{% for note in notes %}
						<span class="note_{{note.map}}">{{note.farsi_note}}</span>
						{% endfor %}
					</p>
				</div>
				<div class="panel-footer">
					<div class="row">
						<div class="col-xs-12">
							<h6>{{ include(template_from_string(lang.writtenby)) }} <strong>{{post.author}}</strong> {{ include(template_from_string(lang.on)) }} {{post.date}}.</h6>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}