{% set metas = {
    "keywords": "HTML, CSS, XML, XHTML, JavaScript",
    "description": "Free Web tutorials on HTML and CSS" } 
%}

{% extends "base.html" %}



{% block content %}

<!--<div class="inner_header h_bg2">

      <div class="container">

    <h1> <i class="fa fa-money"></i> Price </h1>

  </div>

    </div>-->

<div class="clr"></div>

<section class="pricegray_bg in_top_space">
	<div class="container">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="color:#ffffff; font-size:48px; font-weight:300; font-family: 'ralewaylight';">
            	DISCOVER <span style="font-family: 'ralewaybold'; color:#fe6104;">EMAILGUY</span>'S UNBITABLE PRICE
            </td>
          </tr>
          <tr>
            <td style="color:#ffffff; font-size:26px; font-family: 'ralewayregular';">WE SIMPLY PROVIDE THREE SERVICES</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:14px; font-family: 'ralewayregular'; color:#ffffff; line-height:24px;">
            	<span style="background:#ffffff; padding:0px 3px; font-family: 'ralewaybold'; color:#fe6104; font-size:20px;">FRESH EMAIL DESIGN &amp; CODING</span> We can make your business requirements into a great looking email that also compatible within all major email clients.
                <span style="background:#ffffff; padding:0px 3px; font-family: 'ralewaybold'; color:#4a7ad9; font-size:20px;">YOUR DESIGN WE CODE</span> If you have a design ready for your email campaign we can code it for you with maximum compatibility accross all major email clients.
                <span style="background:#ffffff; padding:0px 3px; font-family: 'ralewaybold'; color:#000000; font-size:20px;">EXISTING EMAIL EDITING</span> If you have an email ready or bought it from any other store we can customize it with your data for you.
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70"><div class="note">NOTE</div></td>
                    <td width="10">&nbsp;</td>
                    <td style="font-size:14px; font-family: 'ralewayregular'; color:#ffffff;">
                    	<span style="font-family: 'ralewaybold'; color:#fe6104; font-size:24px;">*</span>Our pricing is based on urgency of project submission, if you select faster delevery option then pricing will increase.
                    </td>
                  </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:24px; font-family: 'ralewayregular'; color:#c6ffee;">
            	CHECK OUR SIMPLE PRICING STRUCTURE BELLOW <span style="font-family: 'ralewaybold'; color:#fe6104; font-size:24px;">&#10549;</span>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    </div>
</section>

<div class="clr"></div>



<section class="white_bg" >





<div class="container ">





<div class="clr"></div>



<div class="price_main_box fl">

<div class="price_main_box_top">

<h1>Fresh email <br>design &amp; coding</h1>

<div class="price_tag_1">

<b>Just for</b> <span>$125</span>

</div>

<div class="clr"></div>

</div>

<div class="clr"></div>

<div class="price_main_box_details">

<ul>

<li><i class="fa fa-check"></i> <span>Fully hand coded &Scalable email that can fit any screen seamlessly</span></li>

<li><i class="fa fa-check"></i> <span>Delivery within 72 hours <br>(No Faster option available now)</span></li>

<li><i class="fa fa-check"></i> <span>Free Integration to your email software</span></li>

<li><i class="fa fa-check"></i> <span>Proudly use Litmus for optimal email compatibility across 40+ email client</span></li>

<li><i class="fa fa-check"></i> <span>24/7 development<br>(Including holydays)</span></li>

<li><i class="fa fa-check"></i> <span>100% money back guarantee and NDA terms</span></li>

</ul>

<div class="clr"></div>

</div>



<div class="clr"></div>

<a href="{{ baseUrl() }}/order#package=1" class="choose_plan_btn"><span>Choose plan</span></a>

</div>





<div class="price_main_box m_price_box1">

<div class="price_main_box_top">

<h1>Your Design <br>

we code </h1>

<div class="price_tag_1">

<b>Just for</b> <span>$65</span>

</div>

<div class="clr"></div>

</div>

<div class="clr"></div>

<div class="price_main_box_details">

<ul>

<li><i class="fa fa-check"></i> <span>Fully hand coded, responsive or scalable or fixed type coding you can choose</span></li>

<li><i class="fa fa-check"></i> <span>Delivery within 24 hour  <br>(Faster option also available)</span></li>

<li><i class="fa fa-check"></i> <span>Free Integration to your email software</span></li>

<li><i class="fa fa-check"></i> <span>Proudly use Litmus for optimal email compatibility across 40+ email client</span></li>

<li><i class="fa fa-check"></i> <span>24/7 development<br>(Including holydays)</span></li>

<li><i class="fa fa-check"></i> <span>100% money back guarantee and NDA terms</span></li>

</ul>

<div class="clr"></div>

</div>

<div class="clr"></div>

<a href="{{ baseUrl() }}/order#package=2" class="choose_plan_btn"><span>Choose plan</span></a>

</div>







<div class="price_main_box fl">

<div class="price_main_box_top">

<h1>Existing Email <br>

Editing </h1>

<div class="price_tag_1">

<b>Just for</b> <span>$35</span>

</div>

<div class="clr"></div>

</div>

<div class="clr"></div>

<div class="price_main_box_details">

<ul>

<li><i class="fa fa-check"></i> <span>We can edit only content like images, copy, links, colors and basic formats (Advance editing also available)</span></li>

<li><i class="fa fa-check"></i> <span>Edits are manually approved by our system.</span></li>

<li><i class="fa fa-check"></i> <span>Delivery within 24 hour for <br>(Faster option also available)</span></li>

<li><i class="fa fa-check"></i> <span>Free Integration to your email software</span></li>

<li><i class="fa fa-check"></i> <span>24/7 development <br>(Including holydays)</span></li>

<li><i class="fa fa-check"></i> <span>100% money back guarantee and NDA terms</span></li>

</ul>

<div class="clr"></div>

</div>

<div class="clr"></div>

<a href="{{ baseUrl() }}/order#package=3" class="choose_plan_btn"><span>Choose plan</span></a>

</div>





<div class="clr"></div>



</div>



<div class="clr"></div>

</section>













<div class="clr"></div>





<section>

<div class="container space_5">

<div class="sm_title2">Template type for package2 and package3 cost $15 extra <a href="#" class="tooltip-right qus" data-tooltip="If you select Responsive or Scalable type template for package2 and package3 extra $15 will added">?</a> </div>

<div class="template_type">

<span>

<div class="t_type">Fixed</div>

<div class="t_price">$0</div>

</span>



<span>

<div class="t_type">Responsive</div>

<div class="t_price">$15</div>

</span>



<span>

<div class="t_type">Scalable</div>

<div class="t_price">$15</div>

</span>



</div>



<div class="clr"></div>





<!--<div class="sm_title2">Advance email software integration for only $15 <a href="#" class="tooltip-right qus" data-tooltip="I’m the tooltip text.">?</a></div>

<div class="email_tools_main">

<span>Mailchimp</span>

<span>Campaign Monitor</span>

<span>Constant Contact</span>

<span>Dot Mailer</span>

<span>Hubspot</span>

<span>Infusionsoft</span>

<span>Marketo</span>

<span>Get Response</span>

</div>-->



</div>

</section>





<div class="clr"></div>

{% endblock %}