{% set metas = {
    "keywords": "HTML, CSS, XML, XHTML, JavaScript",
    "description": "Free Web tutorials on HTML and CSS" } 
%}

{% extends "base.html" %}



{% block content %}

<!--<div class="inner_header h_bg2">

      <div class="container">

    <h1> <i class="fa fa-briefcase"></i> Samples </h1>

  </div>

    </div>-->

<div class="clr"></div>

<section class="sampleorange_bg in_top_space">
	<div class="container">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="color:#ffffff; font-size:48px; font-weight:300; font-family: 'ralewaylight';">
            	WE STRICTLY SUPPORT OUR <span style="font-family: 'ralewaybold'; color:#000000;">NDA TERMS</span>
            </td>
          </tr>
          <tr>
            <td style="color:#ffffff; font-size:26px; font-family: 'ralewayregular'; text-transform:uppercase;">Some sample designs can give you an idea about our quality</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td style="font-size:14px; font-family: 'ralewayregular'; color:#ffffff; line-height:24px;">
            	<span style="background:#303030; padding:0px 3px; font-family: 'ralewaybold'; color:#ffffff; font-size:18px;">RESPOPNSIVE &amp; SCALABLE EMAIL DESIGN</span> Responsive & scalable type email is most popular and modern email that can be open and view on any mobile device such as Mobile Phone, Tablet, Laptops and desktops.<br />
                <span style="background:#4a7ad9; padding:0px 3px; font-family: 'ralewaybold'; color:#ffffff; font-size:18px;">FIXED EMAIL DESIGN</span> Fixed type email is less modern then Responsive and scalable emails, it has only fixed width of 600px that means it is very hard to read the content of your email in smaller screens like Mobile Phones.
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70"><div class="note_s">NOTE</div></td>
                    <td width="10">&nbsp;</td>
                    <td style="font-size:14px; font-family: 'ralewayregular'; color:#ffffff;">
                    	<span style="font-family: 'ralewaybold'; color:#000000; font-size:24px;">*</span>These are the sample templates that does't have any client's data.
                    </td>
                  </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    </div>
</section>

<div class="clr"></div>

<div class="container">

      <div class="page_title1  top_space3">

    <h1>Fixed Template Samples</h1>

  </div>

      <div class="sample_main_box">

    <div id="owl-demo">

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_1_d.jpg" data-fancybox-group="gallery"><img src="img/thumbnails/img_1.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_2_d.jpg" data-fancybox-group="gallery"><img src="img/thumbnails/img_2.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_3_d.jpg" data-fancybox-group="gallery"><img src="img/thumbnails/img_3.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_4_d.jpg" data-fancybox-group="gallery" ><img src="img/thumbnails/img_4.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_5_d.jpg" data-fancybox-group="gallery"><img src="img/thumbnails/img_5.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

          <div class="item sample_img_box "><a class="fancybox gallery-item" href="img/big/img_6_d.jpg" data-fancybox-group="gallery"><img src="img/thumbnails/img_6.jpg" alt="image">

            <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

            </a> </div>

        </div>

    <div class="customNavigation"> <a class="btn prev"><i class="fa fa-chevron-left fa-lg"></i></a> <a class="btn next"><i class="fa fa-chevron-right fa-lg"></i> </a> </div>

  </div>

    </div>

<div class="clr"></div>

<section class="white_bg">

      <div class="container">

    <div class="page_title1  orange_h1 top_space3">

          <h1>Responsive Template Samples</h1>

        </div>

    <div class="sample_main_box">

          <div id="owl-demo1">

        <div class="item sample_img_box "><a class="fancybox gallery-item"  href="#inline1"><img src="img/thumbnails/img_4.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

        <div class="item sample_img_box "><a class="fancybox gallery-item" href="#inline2" ><img src="img/thumbnails/img_5.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

        <div class="item sample_img_box "><a class="fancybox gallery-item" href="#inline3"><img src="img/thumbnails/img_6.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

        <div class="item sample_img_box "><a class="fancybox gallery-item" href="#inline4"><img src="img/thumbnails/img_1.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

        <div class="item sample_img_box "><a class="fancybox gallery-item" href="#inline5" ><img src="img/thumbnails/img_2.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

        <div class="item sample_img_box "><a class="fancybox gallery-item" href="#inline6" ><img src="img/thumbnails/img_3.jpg" alt="image">

          <div class="img-title">

            <h5><span class="fa-stack fa-3x"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-search fa-stack-1x fa-inverse"></i> </span></h5>

          </div>

          </a> </div>

      </div>

          <div class="customNavigation orange_btn"> <a class="btn prev1"><i class="fa fa-chevron-left fa-lg"></i></a> <a class="btn next1"><i class="fa fa-chevron-right fa-lg"></i> </a> </div>

        </div>

  </div>

    </section>

<div class="clr"></div>

<script>





    $(document).ready(function() {

     

      $("#owl-demo").owlCarousel({

     

          //autoPlay: 3000, //Set AutoPlay to 3 seconds

     

          items : 3,

          itemsDesktop : [1199,3],

          itemsDesktopSmall : [979,3]

     

      });

    

     

    });

  

  



    $(document).ready(function() {

     

      var owl = $("#owl-demo");

     

      owl.owlCarousel();

     

      // Custom Navigation Events

      $(".next").click(function(){

        owl.trigger('owl.next');

      })

      $(".prev").click(function(){

        owl.trigger('owl.prev');

      })

     

    });









</script> 

<script>





    $(document).ready(function() {

     

      $("#owl-demo1").owlCarousel({

     

          //autoPlay: 3000, //Set AutoPlay to 3 seconds

     

          items : 3,

          itemsDesktop : [1199,3],

          itemsDesktopSmall : [979,3]

     

      });

    

     

    });

  

  



    $(document).ready(function() {

     

      var owl = $("#owl-demo1");

     

      owl.owlCarousel();

     

      // Custom Navigation Events

      $(".next1").click(function(){

        owl.trigger('owl.next');

      })

      $(".prev1").click(function(){

        owl.trigger('owl.prev');

      })

     

    });









</script> 

<script src="{{ baseUrl() }}/js/main.js"></script> 

<script type="text/javascript">

jQuery(document).ready(function() {

    jQuery('.tabs .tab-links a').on('click', function(e)  {

        var currentAttrValue = jQuery(this).attr('href');

 

        // Show/Hide Tabs

        jQuery('.tabs ' + currentAttrValue).show().siblings().hide();

 

        // Change/remove current tab to active

        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

 

        e.preventDefault();

    });

});

    </script>



    <div id="inline1" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab1"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab2"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab1" class="tab active">

            <img src="img/big/img_4_d.jpg" />

        </div>

 

        <div id="tab2" class="tab">

           <img src="img/big/img_4_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

    

    

    <div id="inline2" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab3"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab4"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab3" class="tab active">

            <img src="img/big/img_5_d.jpg" />

        </div>

 

        <div id="tab4" class="tab">

           <img src="img/big/img_5_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

    

    <div id="inline3" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab5"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab6"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab5" class="tab active">

            <img src="img/big/img_6_d.jpg" />

        </div>

 

        <div id="tab6" class="tab">

           <img src="img/big/img_6_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

    

    

    <div id="inline4" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab7"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab8"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab7" class="tab active">

            <img src="img/big/img_1_d.jpg" />

        </div>

 

        <div id="tab8" class="tab">

           <img src="img/big/img_1_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

    

    

    <div id="inline5" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab9"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab10"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab9" class="tab active">

            <img src="img/big/img_2_d.jpg" />

        </div>

 

        <div id="tab10" class="tab">

           <img src="img/big/img_2_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

    

    <div id="inline6" class="inline01">

    <div class="tabs">

    <ul class="tab-links">

        <li class="active"><a href="#tab11"><i class="fa fa-desktop fa-2x"></i></a></li>

        <li><a href="#tab12"><i class="fa fa-mobile fa-2x"></i></a></li>

        

    </ul>

 

    <div class="tab-content">

        <div id="tab11" class="tab active">

            <img src="img/big/img_3_d.jpg" />

        </div>

 

        <div id="tab12" class="tab">

           <img src="img/big/img_3_m.jpg" />

        </div>

 

    </div>

</div>

  </div>

{% endblock %}